<!DOCTYPE html>
<html>
    <header>
        <meta charset="utf-8">
        <title>Maintenance.</title>
    </header>
    <body>
        <h1> Maintenance Mode...</h1>
        <p>We are under maintenance</p>       
    </body>
</html>